/* form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="radio"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
div[formControlName="terrace"],
div[formControlName="cat"] {
    margin-bottom: 12px;
    display: flex;
}

div[formControlName="terrace"] label,
div[formControlName="cat"] label {
    margin-right: 12px;
}

input[type="radio"] {
    margin-right: 4px;
}
input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #2980b9;
} */
