<p>residences works!</p>
<div *ngFor="let residence of listResidences;let i=index">
    {{residence.id}}
    {{residence.name}}
    {{residence.address}}
    <img src="{{residence.image}}">
    <a routerLink="/detail/{{residence.id}}">detail</a>
    <a [routerLink]="['/detail/',residence.id]">detail</a>
    <input type="submit" value="show app" (click)="showApp(i)">
    <a routerLink="/app/{{residence.id}}">detail App</a>
    
    </div>
    <hr>
    <div *ngFor="let a of app">
    {{a.id}}
    {{a.residence.name}}
    </div>
    <router-outlet></router-outlet>